@using JobPortal.Domain
@{
    ViewBag.Title = "Phone Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/highcharts.js"></script>
<script src="~/Scripts/map.js"></script>
<script src="~/Scripts/world.js"></script>
<script src="~/Scripts/jquery.tmpl.min.js"></script>
<script src="~/Scripts/jquery.tmplPlus.min.js"></script>
@Scripts.Render("~/bundles/jScripts")
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<style>
    .cdate {
        padding-left: 0px;
        list-style-type: none;
    }

        .cdate li {
            display: inline-block;
            width: auto;
        }

    .fcountry {
    }

    .nfield {
        min-width: 75px;
        text-align: center;
    }

    #fy {
        width: 85px;
    }

    #ty {
        width: 85px;
    }
</style>
<div class="title-login">
    <h1 style="margin-top:-15px;">Phone Contacts</h1>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <span style="font-size:1em; font-weight:bold">Contacts By Country</span>
        <div id="container" class="list-group-item">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">&nbsp;</div>
</div>
<form id="SearchForm">
   
    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <div class='input-group date'>
                            @Html.TextBox("StartDate", null, new { @class = "form-control", placeholder = "FROM DATE", @title = "FROM DATE", @readonly = "readonly" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <div class="form-group">
                            <div class='input-group date'>
                                @Html.TextBox("EndDate", null, new { @class = "form-control", placeholder = "TO DATE", @title = "TO DATE", @readonly = "readonly" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 text-right">
            <input type="submit" value="Search" class="btn btn-info btn-block" />
        </div>
    </div>
   
</form>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <table class="table table-bordered table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>Country</th>
                    <th class="nfield">Total Phone Contacts</th>
                    <th class="nfield">Action</th>
                </tr>
            </thead>
            <tbody id="ContactArea"></tbody>
        </table>
    </div>
</div>
<script id="itemplate" type="text/html">
    <tr>
        <td><a role="button" style="cursor:pointer" href="/admin/userscontactlist?countryId=${CountryId}" target="_blank">${Country}</a></td>
        <td class="nfield"><a role="button" style="cursor:pointer" href="/admin/userscontactlist?countryId=${CountryId}" target="_blank">${Contacts}</a></td>
        <td class="nfield"><a role="button" style="cursor:pointer" href="/admin/userscontactlist?countryId=${CountryId}" target="_blank">View</a></td>
    </tr>
</script>
<script>
    $(function () {
        var url = "/admin/contactlist";
        $("#Search").click(function () {
            var jsonForm = $(this).closest("form").serializeObject();

            var isValidStartDate = isValidDate($("#fd").val(), $("#fm").val(), $("#fy").val());
            var isValidEndDate = isValidDate($("#td").val(), $("#tm").val(), $("#ty").val());

            if (isValidStartDate) {
                $("#fromDateError").html("");
                $("#fromDateError").show();
                $("#Search").enabled = true;
            } else {
                $("#fromDateError").html("Provide correct from date!");
                $("#fromDateError").show();
                $("#Search").enabled = false;
            }

            if (isValidEndDate) {
                $("#toDateError").html("");
                $("#toDateError").show();
                $("#Search").enabled = true;
            } else {
                $("#toDateError").html("Provide correct to date!");
                $("#toDateError").show();
                $("#Search").enabled = false;
            }

            if (isValidStartDate == true && isValidEndDate == true) {
                console.log(jsonForm);
                $.post(url, jsonForm, function (data) {
                    $("#ContactArea").empty();
                    $.each(data, function (i, item) {
                        $("#itemplate").tmpl(item).appendTo("#ContactArea");
                    });
                });
            }
            return false;
        })

        $.post(url, {}, function (data) {
            dataPoints = []
            $.each(data, function (i, item) {
                dataPoints.push({ code: "" + item.CountryCode, value: item.Contacts, name: item.Country, countryId: item.CountryId });
                $("#itemplate").tmpl(item).appendTo("#ContactArea");
            });

            var mapChart = $('#container').highcharts('Map', {
                title: {
                    text: ''
                },

                mapNavigation: {
                    enabled: true,
                    buttonOptions: {
                        verticalAlign: 'bottom'
                    }
                },

                colorAxis: {
                    min: 1,
                    max: 1000,
                    type: 'logarithmic'
                },
                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function () {
                                    //window.open("/admin/userscontactlist?countryId=" + this.countryId, "_blank");
                                }
                            }
                        }
                    }
                },
                series: [{
                    data: dataPoints,
                    mapData: Highcharts.maps['custom/world'],
                    joinBy: ['iso-a2', 'code'],
                    name: 'Registrations',
                    allowPointSelect: true,
                    cursor: 'pointer',
                    states: {
                        hover: {
                            color: '#8CEBF7'
                        }
                    },
                    tooltip: {
                        valueSuffix: ''
                    }
                }]
            });
        });
    })
</script>