<!-- ======= Features Section ======= -->
<section class="features" id="features">

    <div class="container">
        <!-- <h2 class="text-center">
        Categories
    </h2> -->

        <div class="row">
            <div class="feature-col col-lg-4 col-xs-12">
                <div class="card card-block text-center" style="border:none;">
                    <div>
                        <div class="feature-icon">
                            <i class="bi bi-mortarboard"></i>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Students
                        </h3>

                        <p>
                            Sign Up for free, Search Part-time, Internships, Get Recommendations, Reach Companies for Part-time.
                        </p>
                    </div>
                </div>
            </div>

            <div class="feature-col col-lg-4 col-xs-12">
                <div class="card card-block text-center" style="border:none;">
                    <div>
                        <div class="feature-icon">
                            <i class="bi bi-person-workspace"></i>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Interns
                        </h3>
                        <p>
                            Sign Up for free, Search Intern Jobs, Get Recommendations, Reach Companies for Interns.
                        </p>
                    </div>
                </div>
            </div>

            <div class="feature-col col-lg-4 col-xs-12">
                <div class="card card-block text-center" style="border:none;">
                    <div>
                        <div class="feature-icon">
                            <i class="bi bi-building"></i>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Employers
                        </h3>

                        <p>
                            Sign Up for free,
                            Search Profiles,
                            Get Recommendations for Job Lists,
                            Reach Candidates.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- <div class="feature-col col-lg-2 col-xs-0"></div> -->

            <div class="feature-col col-lg-4 col-xs-12">
                <div class="card card-block text-center" style="border:none;">
                    <div>
                        <div class="feature-icon">
                            <i class="bi bi-people"></i>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Job Seekers
                        </h3>

                        <p>
                            Free Registration,Search Job For Free,
                            Get recommended jobs,
                            Received Job recommendations,Apply for Dream Job.
                        </p>
                    </div>
                </div>
            </div>

            <div class="feature-col col-lg-4 col-xs-12">
                <div class="card card-block text-center" style="border:none;">
                    <div>
                        <div class="feature-icon">
                            <i class="bi bi-bank"></i>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Institutes
                        </h3>

                        <p>
                            Sign Up for free , Search/Reach Companies, Manage Campus Recruitment, Place Candidates.
                        </p>
                    </div>
                </div>
            </div>

            <div class="feature-col col-lg-4 col-xs-12">
                <div class="card card-block text-center" style="border:none;">
                    <div>
                        <div class="feature-icon">
                            <i class="bi bi-ui-checks-grid"></i>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Partners
                        </h3>

                        <p>
                            Sign Up for free, Search Profiles, Get Recommendations for Job Lists, Manage Placements.
                        </p>
                    </div>
                </div>
            </div>



            <!-- <div class="feature-col col-lg-2 col-xs-0"></div> -->
            <!-- <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
            </div>

            <div>
              <h3>
                Retina Ready
              </h3>
              <p>
                Eque feugiat contentiones ei has. Id summo mundi explicari his, nec in maiorum scriptorem.
              </p>
            </div>
          </div>
        </div> -->
        </div>

        @*//*@

        <div class="row">
            <!-- <div class="feature-col col-lg-2 col-xs-0"></div> -->

            <div class="feature-col col-lg-4 col-xs-12">
                <div class="card card-block text-center" style="border:none;">
                    <div>
                        <div class="feature-icon">
                            <i class="bi bi-pc-display-horizontal"></i>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Freelancers
                        </h3>

                        <p>
                            Sign Up for free, Search freelance Jobs, Get Recommendations, Reach Companies for Projects.
                        </p>
                    </div>
                </div>
            </div>

            <div class="feature-col col-lg-4 col-xs-12">
                <div class="card card-block text-center" style="border:none;">
                    <div>
                        <div class="feature-icon">
                            <i class="bi bi-briefcase"></i>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Recruitment Agencies
                        </h3>

                        <p>
                            Sign Up for free, Search Profiles, Get Recommendations for Job Lists, Reach Candidates.
                        </p>
                    </div>
                </div>
            </div>

            <div class="feature-col col-lg-4 col-xs-12">
                <div class="card card-block text-center" style="border:none;">
                    <div>
                        <div class="feature-icon">
                            <i class="bi bi-person-rolodex"></i>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Workers&nbsp;&nbsp;&nbsp;
                        </h3>

                        <p>
                            Sign Up in local language, Search who are hiring, Look for overseas jobs, Get works faster.
                        </p>
                    </div>
                </div>
            </div>



            <!-- <div class="feature-col col-lg-2 col-xs-0"></div> -->
            <!-- <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
            </div>

            <div>
              <h3>
                Retina Ready
              </h3>
              <p>
                Eque feugiat contentiones ei has. Id summo mundi explicari his, nec in maiorum scriptorem.
              </p>
            </div>
          </div>
        </div> -->
        </div>

        @*<div class="row">
            <div class="feature-col col-lg-2 col-xs-0"></div>

            <div class="feature-col col-lg-4 col-xs-12">
                <div class="card card-block text-center" style="border:none;">
                    <div>
                        <div class="feature-icon">
                            <i class="bi bi-pc-display-horizontal"></i>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Freelancers
                        </h3>

                        <p>
                            Sign Up for free, Search freelance Jobs, Get Recommendations, Reach Companies for Projects.
                        </p>
                    </div>
                </div>
            </div>

            <div class="feature-col col-lg-4 col-xs-12">
                <div class="card card-block text-center" style="border:none;">
                    <div>
                        <div class="feature-icon">
                            <i class="bi bi-briefcase"></i>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Recruitment Agencies
                        </h3>

                        <p>
                            Sign Up for free, Search Profiles, Get Recommendations for Job Lists, Reach Candidates.
                        </p>
                    </div>
                </div>
            </div>

            <div class="feature-col col-lg-4 col-xs-12">
                <div class="card card-block text-center" style="border:none;">
                    <div>
                        <div class="feature-icon">
                            <i class="bi bi-briefcase"></i>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Workers
                        </h3>

                        <p>
                            Sign Up in local language, Search who are hiring, Look for overseas jobs, Get works faster.
                        </p>
                    </div>
                </div>
            </div>

            <div class="feature-col col-lg-2 col-xs-0"></div>


        </div>*@
    </div>

</section><!-- End Features Section -->