
@{
    ViewBag.Title = "Status";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<div class="clear" style="height:25px;"></div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <h2 class="error"><span style="color: red">This profile is in private mode!</span></h2>
    </div>
</div>
<div class="clear" style="height:25px;"></div>
