<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8e27f03f-a600-4408-9245-2cf651de93eb/resourcegroups/Accuracy/providers/Microsoft.Web/sites/JobPortalWeb20240201174604</ResourceId>
    <ResourceGroup>Accuracy</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://jobportalweb20240201174604.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jobportalweb20240201174604.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JobPortalWeb20240201174604</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$JobPortalWeb20240201174604</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="defaultconnection" Order="1" Enabled="False">
          <Destination Path="Data Source=joblistingdev.database.windows.net;Initial Catalog=Joblisting_dev;User ID=Accuracy" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="JobPortal.Web.Models.ApplicationDbContext, JobPortal.Web" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="JobPortalEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="JobPortal.Data.JobPortalEntities, JobPortal.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=joblistingdev.database.windows.net;Initial Catalog=Joblisting_dev;User ID=Accuracy" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:joblistingserver.database.windows.net,1433;Initial Catalog=Joblisting;Persist Security Info=False;User ID=joblistingadmin;Password=Vguestinn@123;Connect Timeout=216000;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:joblistingserver.database.windows.net,1433;Initial Catalog=Joblisting;Persist Security Info=False;User ID=joblistingadmin;Password=Vguestinn@123;Connection TimeOut=216000;Encrypt=True;TrustServerCertificate=False;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=joblistingdev.database.windows.net;Initial Catalog=Joblisting_dev;User ID=Accuracy</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JobPortalEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="defaultconnection-Web.config Connection String">
      <ParameterValue>Data Source=joblistingdev.database.windows.net;Initial Catalog=Joblisting_dev;User ID=Accuracy</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="defaultconnection" />
  </ItemGroup>
</Project>