<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add connectionString="Data Source=tcp:joblistingserver.database.windows.net,1433;Initial Catalog=Joblisting;Persist Security Info=False;User ID=joblistingadmin;Password=Shivam@_12345;Connection TimeOut=216000;Encrypt=True;TrustServerCertificate=False;" name="DefaultConnection" providerName="system.data.sqlclient"/>
  </connectionStrings>
  <appSettings>
    <add key="Template" value="C:\Workspace\JobPortal\JobPortal.Web\Templates\Mail\"/>
    <add key="Logs" value="C:\Sether\JoblistingService\Logs\"/>
    <add key="SiteUrl" value="https://www.joblisting.com"/>
    <add key="FromEmailAddress" value="notify@joblisting.com"/>
    <add key="WebmasterEmail" value="support@joblisting.com"/>
    <add key="postmail" value="master@joblisting.com"/>
    <add key="postpassword" value="052e14c947dbb70b9d04776344b6d88e-1f1bd6a9-d1f0adb4"/>
    <add key="ServiceNotifyEmail" value="notify@joblsiting.com"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.net>
    <!--<mailSettings>
      <smtp from="notify@joblisting.com" deliveryMethod="Network">
        <network defaultCredentials="false" enableSsl="true" 
				 host="mail.joblisting.com" port="25" password="DfdKHS923#Wk" 
				 userName="notify@joblisting.com"/>
      </smtp>
    </mailSettings>-->
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
