<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <style>
        table {
            width: 100%;
        }

        th {
            text-align: left;
        }
    </style>

</head>
<body style="text-align:center; padding:10px; font-family: Calibri; font-size:15px; border:solid 2px #a09d9d; border-radius:5px;">

    <table style="width:100%">
        <tr>
            <td style="width:100px; vertical-align:top; text-align:left;">
                <img src="https://www.joblisting.com/Images/logo.png" />
            </td>
            <td></td>
            <td style="width:250px; text-align:right; vertical-align:top;">
                <b>Joblisting, Inc.</b><br />
                340 S Lemon Ave #2774<br />
                Walnut, CA 91789, US<br />
                payment@joblisting.com<br />
                <a href="https://www.joblisting.com">www.joblisting.com</a><br />
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:center; vertical-align:middle;">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:center; vertical-align:middle;">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:center; vertical-align:middle;">
                <span style="font-family: Calibri; font-size:28px; font-weight:bold">Billing & Invoices</span>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <table style="font-family: Cambria; font-size:13px;">
                    <tr>
                        <td style="width:250px; vertical-align:top; text-align:left;">
                            @@date
                            <br />
                            <br />
                            <b>TO:</b><br /><br />
                            @@receiver<br />
                            @@address<br />
                            @@email
                        </td>
                        <td style="text-align:center; vertical-align:middle;"></td>
                        <td style="text-align:right; vertical-align:top;">
                        </td>
                    </tr>
                </table>


            </td>

        </tr>

        <tr>
            <td colspan="3" style="color:limegreen;">
                <b>Dear Mr/Mrs: @@receiver </b>

            </td>
        </tr>
        <tr>
            <td colspan="3">
                <table style="width:100%;font-family: Cambria; font-size:13px;" cellpadding="5" cellspacing="0" border="1">
                    <tr>
                        <th style="text-align:left;background-color:aquamarine;">Description</th>
                        <th style="width: 150px; text-align: center; background-color: aquamarine;">Payment Method</th>
                        <th style="width: 150px; text-align: center;background-color:aquamarine;">Amount (USD)</th>
                    </tr>
                    <tr>
                        <td style="text-align:left">
                            @@description
                        </td>
                        <td style="text-align:center">
                            @@method
                        </td>
                        <td style="width:150px; text-align:center">
                            @@amount
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:right">
                            Grand Total:
                        </td>
                        <td style="width: 150px; text-align: center; background-color: aquamarine;">
                            @@amount
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left;font-family: Cambria; font-size:13px;">
                <br />All services are subject to <a href="https://www.joblisting.com/terms">Terms of User</a>, <a href="https://www.joblisting.com/privacy">Privacy</a> and <a href="https://www.joblisting.com/copyright">Copyright</a><br />
                If you have any question concerning this invoice, contact as at <a href="mailto:payment@joblisting.com">payment@joblisting.com</a>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left;font-family: Cambria; font-size:13px;">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left;font-family: Cambria; font-size:13px;">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:center;font-family: Cambria; font-size:13px;">
                <b>Thank you for your business!</b>
                <br />
                <br />
                This is computer generated invoice which does not need signature
            </td>
        </tr>
    </table>

</body>
</html>
