@{
    ViewBag.Title = "Privacy and Cookies Policy | Joblisting.com";
    ViewBag.Description = "We have clearly described about privacy and security of personal information, policy amendments and rights which will remain secure on our systems.";
    ViewBag.Keywords = "Joblisting, Job Listing, Job Search, Latest Jobs";

    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
<script src="@Url.Content("~/scripts/js/ga.js")" type="text/javascript"></script>
<div class="section">
    <div class="clear" style="height:-100px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: justify; margin-top:-30px; margin-left: -100px">
                @Html.Raw(ViewBag.Content)
            </div>
        </div>
    </div>
</div>
