<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="defaultconnection" connectionString="Data Source=tcp:joblistingserver.database.windows.net,1433;Initial Catalog=Joblisting;Persist Security Info=False;User ID=joblistingadmin;Password=Shivam@_12345;Connection TimeOut=216000;Encrypt=True;TrustServerCertificate=False;Persist Security Info=True;Connection Timeout=60" providerName="system.data.sqlclient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="JobPortalEntities" connectionString="metadata=res://*/JobPortal.csdl|res://*/JobPortal.ssdl|res://*/JobPortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:joblistingserver.database.windows.net,1433;Initial Catalog=Joblisting;Persist Security Info=False;User ID=joblistingadmin;Password=Shivam@_12345;Connection TimeOut=216000;Encrypt=True;TrustServerCertificate=False;Persist Security Info=True;Connection Timeout=60;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="FacebookAppId" value="1534831426768645" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FromEmailAddress" value="notify@joblisting.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="webpages:Version" value="3.0.0.0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="webpages:Enabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PreserveLoginUrl" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ClientValidationEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Facebook_ConsumerKey" value="1534831426768645" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Facebook_ConsumerSecret" value="eca49fe0d6c483b5dcab00920be2b70b" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Google_ConsumerKey" value="956678047963-i87vfl26le7sn9oskptrjph4hjq633b2.apps.googleusercontent.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Google_ConsumerSecret" value="YICMtHXGT7KMbO0T9RpOzcF9" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Twitter_ConsumerKey" value="Q18CXsefRCP6FI7oKGLDAFDM0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Twitter_ConsumerSecret" value="DEMjbhjSuYLiZNF1whmkXkFjZtHZme3it1vlFWy9uQidUveAlp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Yahoo_ConsumerKey" value="dj0yJmk9U3FKOFcybnd0N0NqJmQ9WVdrOWRrMTRZa1pOTlRBbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD1mMg--" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Yahoo_ConsumerSecret" value="59b39c7cf55ad329d8edb1ea8e9364493a3abef6" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="LinkedIn_ConsumerKey" value="9ax9pdtvaah7" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LinkedIn_ConsumerSecret" value="VtLJsY1FxJyMMxlo" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Imap Server Settings Starts Here -->
    <add key="ImapHost" value="imap.gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ImapPort" value="993" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ImapSSLEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ImapUser" value="notify@joblisting.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ImapPassword" value="DfdKHS923#Wk" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="POPHost" value="pop.gmail.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="POPPort" value="995" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="POPSSLEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="POPUser" value="notify@joblisting.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="POPPassword" value="DfdKHS923#Wk" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- Imap Server Settings Ends Here -->

  </appSettings>

  <system.web>
    <customErrors defaultRedirect="Error.cshtml" mode="Off">
    </customErrors>

    <compilation debug="true" targetFramework="4.5.1" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="60" slidingExpiration="false" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"  />
    <modules runAllManagedModulesForAllRequests="true" />

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="X.PagedList" publicKeyToken="abbb863e9397c5e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.22.5.37966" newVersion="1.22.5.37966" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp from="notify@joblisting.com" deliveryMethod="Network">
        <network defaultCredentials="false" enableSsl="true" host="smtp.gmail.com" port="587" password="DfdKHS923#Wk" userName="notify@joblisting.com" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>