<html>
<head>
    <title></title>
    <style>
        #Container {
            background-color: white;
            border-radius: 4px;
            border: 1px solid #e3e3e3;
            text-align: justify;
            padding: 50px;
        }

        #Head {
            text-align: left;
        }

        body {
            background-color: #f5f5f5;
            text-align: center;
            padding: 10px;
            font-family: Tahoma;
        }

        table {
            width: 100%;
        }

        th {
            text-align: left;
        }
    </style>    
</head>
<body style="background-color: #f5f5f5; text-align:center; padding:10px; font-family: Tahoma;">
    <div style="text-align:left; padding-top:10px; padding-bottom:10px;">
        <a href="https://www.joblisting.com">
        <img src="https://www.joblisting.com/images/logo_ann.png" alt="www.joblisting.com" style="width:300px;height:80px" /></a>
    </div>

    <div id="Container">
        <p>
            Hello, Dear @@receiver,
            <p>JobListing's mission is to accelerate your job hunt. You can use the platform to access several job listings across the globe, find the job that suits your profile best, and boost your professional career. </p>
            @@viewurl
            <div style="text-align:left; padding-top:10px; padding-bottom:10px;">
                <img src="https://www.joblisting.com/images/logo_ann1.png"
                     alt="www.joblisting.com" style="width:600px;height:150px" />
            </div>
        </p>
        <br />
        <br />
            Ready to begin? Choose one of the options below:
            <li><a target="_blank" href="https://www.joblisting.com/account/registernow"> Register</a></li>
            <li><a target="_blank" href="https://www.joblisting.com/jobseeker/updateprofile"> Update Profile</a></li>
            <li><a target="_blank" href="https://www.joblisting.com/jobs"> Apply for a Job</a></li>
        <br />
        <br />
        <div style="font-size: 12px;">

            <a href="https://www.joblisting.com/terms">Terms Of Use</a> | <a href="https://www.joblisting.com/privacy">Privacy</a> | <a href="https://www.joblisting.com/copyright">Copyright</a><br />
            <p>If you want to opt out of receiving future emails from us, contact us at support@joblisting.com. If your Internet provider filters incoming email, please add support@joblisting.com to your list of approved senders. Please do not reply to this email as this is a computer-generated message. For further assistance, please contact us at support@joblisting.com</p>
            <b>Disclaimer!</b>
            <p>This is a genuine message/alert sent according to our <a href="https://www.joblisting.com/terms">Terms Of Use</a> and <a href="https://www.joblisting.com/privacy">Privacy</a>. Please do not reply to this email, as this is a computer-generated message/alert.	While all reasonable care has been taken in the preparation of the information contained in this email, Joblisting, Inc. or its related parties take no any responsibility for any action(s) taken on the basis of this message/alert, basis of the information contained herein or for any errors or omissions in that information. This email is intended for the use of the addressee only. If you are not the intended recipient of this message, kindly do not read or keep this message/alert with you and notify us at support@joblisting.com</p>
            <p>You may have received this message/alert as "forward-to-a-friend" message. Joblisting, Inc. did not offer any kind of benefit and any gain to the forwarder or to the recommender and or did not give the forwarder or the recommender some other benefit in relation to sending you this message/alert. Also Joblisting, Inc. did not offer money, coupons, discounts,  awards, additional entries in a sweepstakes, any kind of benefit in exchange for generating traffic to website or the like in exchange for forwarding and or sending this message/alert and or recommending you in relation to this message/alert. </p>
        </div>
        <h5>All the best,</h5>
        <h5>The JobListing Team</h5>
    </div>
</body>
</html>
