
@{
    ViewBag.Title = "AboutUs";
   // Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<style>
    .icons {
        display: flex;
        padding: 25px 0;
        text-align: center;
    }

        .icons li {
            color: #000000;
            display: block;
            padding: 10px;
            margin: 5px;
        }

            .icons li i {
                color: #000000;
                font-size: 26px;
                opacity: 0.8;
            }

                .icons li i:hover {
                    color: #34bc08;
                    cursor: pointer;
                }
</style>
<div class="container">
    <div class="row">
        @*<img src="~/Images/AboutUsAnother_logo.png" />*@
        <div style="height:15px;"></div>
        <div class="col-lg-6 col-sm-6">
            <img class="img-fluid" src="/Images/AboutUsAnother_logo.png" height="300" width="300">
        </div>
        <div class="col-lg-6 col-sm-6 text-left" style="margin-left:-140px; margin-top:20px;">
            <h2 class="text-center text-capitalize" style="color: #34bc08;">About Us</h2>
            <span style="height: 5px; width: 80px; background: #777; margin: 30px 0;"><!-- line here --></span>
          <br />
            <p class="text-justify">
                Job Listing is a global Jobsite that gives access to a wide range of jobs across several categories such as green jobs, freelance and part-time jobs in local languages.<br /><br />

                Companies of any size across the globe can search jobseekers of various categories, communicate, recruit for less Price. Companies, Agencies & Partners can get great margins on their recruitment efforts.<br /><br />

                Great platform for cross boarder recruitments & Only Platform for overseas job search
            </p>
            <div style="justify-content: center;  align-items: center; ">
                <ul class="icons text-center" style="justify-content: center;  align-items: center; ">
                    @*<li>
                        <a href="https://twitter.com/Joblistingcom" class="twitter"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/Joblisitng" class="facebook"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/joblistingportal/" class="instagram"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/joblisting-com/about/" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/101560853443212199687" class="linkedin"><i class="fa-brands fa-google"></i></a>
                    </li>*@
                    <li>
                        <a href="https://www.facebook.com/Joblisitng" class="facebook"> <i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/101560853443212199687" class="linkedin"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/Joblistingcom" class="twitter"> <i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/101560853443212199687" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </li>


                    <li>
                        <a href="https://www.instagram.com/joblistingportal/" class="instagram"><i class="fa fa-instagram"></i></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>



