@using JobPortal.Data
@using JobPortal.Domain
@model JobPortal.Web.Models.SearchJobSeekerModel
<div class="invite-friend">
    <div style="font-size:small; padding-bottom:5px;">
        <span>Search Jobseekers</span>
    </div>
    <div class="iyf">
        @using (Html.BeginForm("Search", "Jobseeker", FormMethod.Post))
        {
            @Html.TextBoxFor(model => model.Title, new { placeholder = "SEARCH BY PROFILE TITLE", @class = "form-control", @maxlength = 50 })
            @Html.ValidationMessageFor(model => model.Title)
            <div class="clear" style="height:5px"></div>
            <div class="input-group">
                <select id="CountryId" name="CountryId" class="form-control country" style="font-size:small">
                    <option>SELECT</option>
                </select>                
                <span class="input-group-btn">
                    <input type="submit" value="Search" class="btn btn-default" formtarget="_blank" />
                </span>
            </div>
        }
    </div>
</div>
<script>
    $(function () {
        $.getJSON("/help/countrylist", {}, function (list) {
            $("#CountryId").empty();
            $("#CountryId").append("<option value = ''>SELECT</option>");

            if (list.length != 0) {
                $(list).each(function () {
                    $("#CountryId").append("<option value =" + this.Id + ">" + this.Name + "</option>");
                });
            }
        });
    });
</script>