@{
    //// Layout = "~/Views/Shared";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";

}

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-G1CXYWJBM9');
</script>

<div class="clear" style="height:-5px;width:100%;"></div>
@Html.Partial("_Register")
<div class="clear" style="height:10px;"></div>
@*@Html.Partial("_Login")*@

 @Html.Partial("_FooterPartial")